<h1> All posting </h1>

<% @posts.each_with_index do |post, index| %>
	<b> <%= index += 1 %> </b>
	<a href = "/posts/<%= post.id%>"><%= post.title %><br> </a>
	Description: <%= post.description %> <br>
	Monthly Rental:  <%= post.monthly_rental %><br>
	<%= post.user.name %><br>

<% end %>