<h1> <%= @users.name %>'s Dashboard </h1><a href="/">Home</a></br>
<b1> Welcome to iBilik, <%= @users.name %><br><br>

<b>User name    :</b> <%= @users.name %><br>
<b>Email address:</b> <%= @users.email %><br>

<% if !current_user %>
<a href = "/users"><button> Login!!!! </button></a><br>

<% else %>
<a href= "/posts/new"><button> Post you room! </button></a><br>
<a href = "/users/<%= @users.id %>/edit"><button>Edit Profile</button></a>
<form action= "/users/<%= @users.id%>" method = "Post">
<input type= "hidden" name="_method" value = "delete">
<input type="submit" value="Delete!"></form>
<% end %>
